@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.Container {
   display: flex;
   flex-direction: column;

   align-items: center;
   justify-content: center;

   padding-top: 4rem;

   background-color: #fff;
}


.Title {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 36px;

   color: #383838;
}
